.formulario{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    padding: 3%;

}

.formulario form input , .formulario form textarea{
    margin-bottom: 30px;
}

button{
    background-color:lightblue;
}
hr{
    background-color:aqua;
    height: 2px;
}
